{% comment %} Write a section using swiper library to show the product feature {% endcomment %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
 <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
          />

{%- style -%}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .mySwiper2.swiper {
      width: 100%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
        width: 100%;
        box-sizing: border-box;
    }

    .mySwiper {
      box-sizing: border-box;
      .swiper-wrapper {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
      }
      }


    .mySwiper .swiper-slide {
      width: 100px !important;
      height: 100px !important;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slider-wrapper {
        display: flex;
        gap: 1rem;
        flex-direction: column-reverse; // change to column to make it vertical
    }
    .mySwiper .swiper-slide {
        margin: 0 !important;
    }
    .swiper-preview {
        img {
            width: 100px;
            height: 100px;
        }
    }
    .slider-button-next, .slider-button-prev {
        width: 3rem;
        height: 3rem;
        position: absolute;
        z-index: 10;
        top: 50%;
        color: white;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .slider-button-next {
        right: 0;
    }
    .slider-button-prev {
        left: 0;
    }
    @media (min-width: 750px){
        .mySwiper2.swiper {
            height: 580px;
        }
        .slider-wrapper {
            gap: 2rem;
        }
        .mySwiper {
        margin-top: 0;
        }
    }
    @media (min-width: 1200px){
        .swiper {
        }
      .slider-wrapper {
        flex-direction: row;
        }
        .mySwiper .swiper-wrapper {
            display: flex;
            flex-direction: column;
        }
        
        .mySwiper {
      width: 100px;
      }

    }
{%- endstyle -%}

<div class="slider-wrapper">
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for image in product.images limit: 4 %}
            <div class="swiper-slide">
                <img src="{{ image.src | img_url: 'master' }}" />
            </div>
            <div class="swiper-slide">
                <img src="{{ image.src | img_url: 'master' }}" />
            </div>
        {% endfor %}
         <div>

     {% if product.images.size >= 2 %}
        <a class="swiper-preview" data-fancybox="gallery" href="https://lipsum.app/id/60/1600x1200">
            <img src="https://lipsum.app/id/60/200x150" width="200" height="150" alt="" />
        </a>
        <div style="display:none">
            {% for image in product.images offset: 1 %}
                <a data-fancybox="gallery" href="{{ image.src | img_url: 'master' }}">
                    <img src="{{ image.src | img_url: 'master' }}" />
                </a>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    </div>
  </div>
<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
    <div class="swiper-wrapper">
        {% for image in product.images %}
            <div class="swiper-slide">
                <img src="{{ image.src | img_url: 'master' }}" />
            </div>
        {% endfor %}
    </div>
    <div class="slider-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

    </div>
    <div class="slider-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

    </div>
  </div>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".slider-button-next",
        prevEl: ".slider-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
      Fancybox.bind('[data-fancybox="gallery"]', {
        //
      });    
    </script>
